<?xml version="1.0"?>
	<config>
		<modules>
			<CSH_Cshgroupedproduct>
				<version>0.1.0</version>
			</CSH_Cshgroupedproduct>
		</modules>
		<adminhtml>
			<layout>
				<updates>
					<cshgroupedproduct>
						<file>cshgroupedproduct.xml</file>
					</cshgroupedproduct>
				</updates>
			</layout>
			<events>
				<catalog_product_save_after>
					<observers>
						<CSH_save_product_data>
							<type>singleton</type>
							<class>cshgroupedproduct/observer</class>
							<method>saveProductTabData</method>
						</CSH_save_product_data>
					</observers>
				</catalog_product_save_after>
			</events>
			<translate>
				<modules>
					<CSH_Cshgroupedproduct>
					<files>
						<default>CSH_Cshgroupedproduct.csv</default>
					</files>
        </CSH_Cshgroupedproduct>
				</modules>
			</translate>
			<sales>
				<order>
					<create>
						<available_product_types>
							<simple/>
							<virtual/>
							<configurable/>
							<grouped/>
							<cshgrouped/>
						</available_product_types>
					</create>
				</order>
			</sales>
		</adminhtml>
		<global>
			<importexport>
				<import_product_types>
					<cshgrouped>cshgroupedproduct/import_entity_product_type_cshgrouped</cshgrouped>
				</import_product_types>
			</importexport>
			<blocks>
				<cshgroupedproduct>
					<class>CSH_Cshgroupedproduct_Block</class>
				</cshgroupedproduct>
			</blocks>
			<models>
				<cshgroupedproduct>
					<class>CSH_Cshgroupedproduct_Model</class>
				</cshgroupedproduct>
			</models>
			<catalog>
				<product>
					<type>
						<cshgrouped translate="label" module="cshgroupedproduct">
							<label>CSH Grouped Type</label>
							<model>cshgroupedproduct/product_type_cshgrouped</model>
							<price_model>cshgroupedproduct/product_price</price_model>
							<composite>1</composite>
							<allow_product_types>
								<simple/>
								<virtual/>
                        </allow_product_types>
						</cshgrouped>
					</type>
				</product>
			</catalog>
			<helpers>
				<cshgroupedproduct>
					<class>CSH_Cshgroupedproduct_Helper</class>
				</cshgroupedproduct>
			</helpers>
		</global>
		<frontend>
			<layout>
				<updates>
					<CSH_Cshgroupedproduct>
					<file>Cshgroupedproduct.xml</file>
					</CSH_Cshgroupedproduct>
				</updates>
			</layout>
		</frontend>
	</config>
