<?xml version="1.0"?>
	<config>
		<modules>
			<DecHardware_DecHardwareProduct>
				<version>0.1.0</version>
			</DecHardware_DecHardwareProduct>
		</modules>
		<adminhtml>
			<layout>
				<updates>
					<dechardwareproduct>
						<file>dechardwareproduct.xml</file>
					</dechardwareproduct>
				</updates>
			</layout>
			<events>
				<catalog_product_save_after>
					<observers>
						<DecHardware_save_product_data>
							<type>singleton</type>
							<class>dechardwareproduct/observer</class>
							<method>saveProductTabData</method>
						</DecHardware_save_product_data>
					</observers>
				</catalog_product_save_after>
			</events>
			<translate>
				<modules>
					<DecHardware_DecHardwareProduct>
					<files>
						<default>DecHardware_DecHardwareProduct.csv</default>
					</files>
          </DecHardware_DecHardwareProduct>
				</modules>
			</translate>
			<sales>
				<order>
					<create>
						<available_product_types>
							<simple/>
							<virtual/>
							<configurable/>
							<grouped/>
							<cabinet/>
						</available_product_types>
					</create>
				</order>
			</sales>
		</adminhtml>
		<global>
			<importexport>
				<import_product_types>
					<hardware>dechardwareproduct/import_entity_product_type_hardware</hardware>
				</import_product_types>
			</importexport>
			<blocks>
				<dechardwareproduct>
					<class>DecHardware_DecHardwareProduct_Block</class>
				</dechardwareproduct>
			</blocks>
			<models>
				<dechardwareproduct>
					<class>Simplesolutions_Cabinetproduct_Model</class>
				</dechardwareproduct>
			</models>
			<catalog>
				<product>
					<type>
						<hardware translate="label" module="dechardware">
							<label>Hardware Type</label>
							<model>dechardwareproduct/product_type_hardware</model>
							<price_model>dechardwareproduct/product_price</price_model>
							<composite>1</composite>
							<allow_product_types>
								<simple/>
								<virtual/>
                        </allow_product_types>
						</hardware>
					</type>
				</product>
			</catalog>
			<helpers>
				<dechardwareproduct>
					<class>DecHardware_DecHardwareProduct_Helper</class>
				</dechardwareproduct>
			</helpers>
		</global>
		<frontend>
			<layout>
				<updates>
					<DecHardware_DecHardwareProduct>
					<file>dechardwareproduct.xml</file>
					</DecHardware_DecHardwareProduct>
				</updates>
			</layout>
		</frontend>
	</config>
