<?xml version="1.0"?>
<!--
@author Bread   copyright   2016
@author Joel    @Mediotype
-->
<config>
    <modules>
        <Bread_BreadCheckout>
            <version>1.1.19</version>
        </Bread_BreadCheckout>
    </modules>
    <global>
        <resources>
            <bread_breadcheckout_setup>
                <setup>
                    <module>Bread_BreadCheckout</module>
                    <class>Bread_BreadCheckout_Model_Resource_Setup</class>
                </setup>
            </bread_breadcheckout_setup>
        </resources>
        <models>
            <breadcheckout>
                <class>Bread_BreadCheckout_Model</class>
            </breadcheckout>
        </models>
        <blocks>
            <breadcheckout>
                <class>Bread_BreadCheckout_Block</class>
            </breadcheckout>
        </blocks>
        <helpers>
            <breadcheckout>
                <class>Bread_BreadCheckout_Helper</class>
            </breadcheckout>
        </helpers>
        <template>
            <email>
                <confirmation_email_template>
                    <label>Email template for payment confirmation</label>
                    <file>Bread/payment_confirmation.html</file>
                    <type>html</type>
                </confirmation_email_template>
                <error_report_email_template>
                    <label>Email template error report</label>
                    <file>Bread/error_report.html</file>
                    <type>html</type>
                </error_report_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                <modules>
                    <breadcheckout after="Mage_Adminhtml">Bread_BreadCheckout_Adminhtml</breadcheckout>
                </modules>
            </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <breadcheckout>
                    <file>bread/breadcheckout.xml</file>
                </breadcheckout>
            </updates>
        </layout>
        <events>
            <sales_order_payment_place_end>
                <observers>
                    <updateOrderStatus>
                        <class>breadcheckout/observer</class>
                        <method>updateOrderStatus</method>
                    </updateOrderStatus>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <breadcheckout>
                <use>standard</use>
                <args>
                    <module>Bread_BreadCheckout</module>
                    <frontName>bread</frontName>
                </args>
            </breadcheckout>
        </routers>
        <layout>
            <updates>
                <breadcheckout>
                    <file>bread/breadcheckout.xml</file>
                </breadcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bread_BreadCheckout>
                    <files>
                        <default>Bread_Checkout.csv</default>
                    </files>
                </Bread_BreadCheckout>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <bread_checkout>
                        <type>model</type>
                        <class>breadcheckout/observer</class>
                        <method>insertBreadButton</method>
                    </bread_checkout>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_payment_place_end>
                <observers>
                    <updateOrderStatus>
                        <class>breadcheckout/observer</class>
                        <method>updateOrderStatus</method>
                    </updateOrderStatus>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </frontend>
    <default>
        <payment>
            <breadcheckout>
                <active>0</active>
                <model>breadcheckout/payment_method_bread</model>
                <sort_order>25</sort_order>
                <title>Pay Over Time</title>
                <api_mode>0</api_mode> <!-- default to sandbox mode -->
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <incomplete_checkout_message>Please click the continue button and complete the finance forms or choose another payment method.</incomplete_checkout_message>
                <allowcheckoutpdp>1</allowcheckoutpdp>
                <allowcheckoutcart>1</allowcheckoutcart>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <login_customer_on_order>1</login_customer_on_order>
                <log_enabled>0</log_enabled>
            </breadcheckout>
			<bread_cartpage>
			    <allowcheckoutcart>1</allowcheckoutcart>
			    <use_pdp_css>1</use_pdp_css>
			</bread_cartpage>
			<bread_checkout>
                <incomplete_checkout_message>Please click the pay over time button and complete the finance forms or choose another payment method.</incomplete_checkout_message>
                <use_pdp_css>1</use_pdp_css>
			</bread_checkout>
        </payment>
    </default>
</config>