<?xml version="1.0"?>
<config>
    <modules>
        <Simplesolutions_Groupedproduct>
            <version>0.1.0</version>
        </Simplesolutions_Groupedproduct>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <groupedproduct>
                    <file>groupedproduct.xml</file>
                </groupedproduct>
            </updates>
        </layout>
        <events>
            <grouped_product_save_after>
                <observers>
                    <Simplesolutions_save_product_data>
                        <type>singleton</type>
                        <class>groupedproduct/observer</class>
                        <method>saveProductTabData</method>
                    </Simplesolutions_save_product_data>
                </observers>
            </grouped_product_save_after>
        </events>
        <translate>
            <modules>
                <Simplesolutions_Groupedproduct>
                    <files>
                        <default>Simplesolutions_Groupedproduct.csv</default>
                    </files>
                </Simplesolutions_Groupedproduct>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <simple/>
                        <virtual/>
                        <configurable/>
                        <cabinet/>
                        <hardware/>
                        <grouped/>
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <global>
        <importexport>
            <import_product_types>
                <grouped>groupedproduct/import_entity_product_type_grouped</grouped>
            </import_product_types>
        </importexport>
        <blocks>
            <groupedproduct>
                <class>Simplesolutions_Groupedproduct_Block</class>
            </groupedproduct>
        </blocks>
        <models>
            <groupedproduct>
                <class>Simplesolutions_Groupedproduct_Model</class>
            </groupedproduct>
        </models>
        <catalog>
            <product>
                <type>
                    <grouped translate="label" module="groupedproduct">
                        <label>Grouped Type</label>
                        <model>groupedproduct/product_type_grouped</model>
                        <price_model>groupedproduct/product_price</price_model>
                        <composite>1</composite>
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                        </allow_product_types>
                    </grouped>
                </type>
            </product>
        </catalog>
        <helpers>
            <groupedproduct>
                <class>Simplesolutions_Groupedproduct_Helper</class>
            </groupedproduct>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <Simplesolutions_Groupedproduct>
                    <file>groupedproduct.xml</file>
                </Simplesolutions_Groupedproduct>
            </updates>
        </layout>
    </frontend>
</config>