<?xml version="1.0"?>
<config>
  <modules>
    <Simplesolutions_HardwareCoupons>
      <version>0.1.0</version>
    </Simplesolutions_HardwareCoupons>
  </modules>
  <global>
    <helpers>
      <hardwarecoupons>
        <class>Simplesolutions_HardwareCoupons_Helper</class>
      </hardwarecoupons>
    </helpers>
	<blocks>
	  <hardwarecoupons>
		<class>Simplesolutions_HardwareCoupons_Block</class>
	  </hardwarecoupons>
	</blocks>
	<models>
	  <hardwarecoupons>
		<class>Simplesolutions_HardwareCoupons_Model</class>
		<resourceModel>hardwarecoupons_mysql4</resourceModel>
	  </hardwarecoupons>
	  <hardwarecoupons_mysql4>
		<class>Simplesolutions_HardwareCoupons_Model_Mysql4</class>
		<entities>
			  <codes>
				<table>hardware_coupons</table>
			  </codes>
		</entities>
	  </hardwarecoupons_mysql4>
	</models>
	<resources>
	  <hardwarecoupons_setup>
		<setup>
		  <module>Simplesolutions_HardwareCoupons</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </hardwarecoupons_setup>
	  <hardwarecoupons_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </hardwarecoupons_write>
	  <hardwarecoupons_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </hardwarecoupons_read>
	</resources>
	<events>
	  <salesrule_validator_process> <!-- identifier of the event we want to catch -->
        <observers>
          <hardwarecoupon> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>hardwarecoupons/observer</class> <!-- observers class alias -->
            <method>CheckCoupon</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </hardwarecoupon>
        </observers>
      </salesrule_validator_process>
    </events>
  </global>
  <admin>
	<routers>
	  <hardwarecoupons>
	    <use>admin</use>
		<args>
		  <module>Simplesolutions_HardwareCoupons</module>
		  <frontName>hardwarecoupons</frontName>
		</args>
	  </hardwarecoupons>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hardwarecoupons module="hardwarecoupons">
		<title>Hardware Coupons</title>
		<sort_order>100</sort_order>
		<children>
		  <codes module="hardwarecoupons">
		    <title>Manage Codes</title>
			<sort_order>10</sort_order>
			<action>hardwarecoupons/adminhtml_codes</action>
		  </codes>
		</children>
	  </hardwarecoupons>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<hardwarecoupons translate="title" module="hardwarecoupons">
			  <title>Hardware Coupons</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <codes translate="title">
			<title>Manage Codes</title>
			<sort_order>10</sort_order>
		  </codes>
			  </children>
			</hardwarecoupons>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<hardwarecoupons>
		  <file>hardwarecoupons.xml</file>
		</hardwarecoupons>
	  </updates>
	</layout>
  </adminhtml>
</config>
