<?xml version="1.0"?>
<config>
	<modules>
		<Brim_Groupedconfigured>
			<version>0.1.0</version>
		</Brim_Groupedconfigured>
	</modules>
	<global>
		<models>
			<groupedconfigured>
				<class>Brim_Groupedconfigured_Model</class>
			</groupedconfigured>
			<catalog>
				<rewrite>
					<product_type_grouped>Brim_Groupedconfigured_Model_Product_Type_Grouped</product_type_grouped>
					<product_type_simple>Brim_Groupedconfigured_Model_Product_Type_Simple</product_type_simple>
				</rewrite>
			</catalog>
			<cataloginventory_mysql4>
				<rewrite>
					<indexer_stock_grouped>Brim_Groupedconfigured_Model_Mysql4_Indexer_Stock_Grouped</indexer_stock_grouped>
				</rewrite>
			</cataloginventory_mysql4>
		</models>
		<blocks>
			<groupedconfigured>
				<class>Brim_Groupedconfigured_Block</class>
			</groupedconfigured>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_super_group>Brim_Groupedconfigured_Block_Adminhtml_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<groupedconfigured>
				<class>Brim_Groupedconfigured_Helper</class>
			</groupedconfigured>
		</helpers>
		<catalog>
			<product>
				<type>
					<grouped>
						<allow_product_types>
							<configurable />
						</allow_product_types>
					</grouped>
				</type>
			</product>
		</catalog>
	</global>
</config> 