<?xml version="1.0"?>
<config>
	<modules>
		<IWD_QuickView>
			<version>3.0.6</version>
		</IWD_QuickView>
	</modules>

    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <iwd_quickview_check_related>
                        <type>singleton</type>
                        <class>iwd_quickview/observer</class>
                        <method>checkRequiredModules</method>
                    </iwd_quickview_check_related>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <iwd_quickview>
                    <file>iwd_quickview.xml</file>
                </iwd_quickview>
            </updates>
        </layout>
    </adminhtml>

	<frontend>
		<routers>
            <checkout>
                <args>
                    <modules>
                        <iwd_quickview before="Mage_Checkout">IWD_QuickView</iwd_quickview>
                    </modules>
                </args>
            </checkout>
            <wishlist>
                <args>
                    <modules>
                        <iwd_quickview before="Mage_Wishlist">IWD_QuickView</iwd_quickview>
                    </modules>
                </args>
            </wishlist>
			<iwd_quickview>
				<use>standard</use>
				<args>
					<module>IWD_QuickView</module>
					<frontName>iwd_quickview</frontName>
				</args>
			</iwd_quickview>
		</routers>

		<layout>
			<updates>
				<iwd_quickview>
					<file>iwd_quickview.xml</file>
				</iwd_quickview>
			</updates>
		</layout>

		<translate>
			<modules>
				<IWD_QuickView>
					<files>
						<default>IWD_QuickView.csv</default>
					</files>
				</IWD_QuickView>
			</modules>
		</translate>

		<events>
			<!-- AJAX CART -->
			<checkout_cart_add_product_complete>
				<observers>
					<iwd_quickview_cart_add_product_complete>
						<type>singleton</type>
						<class>iwd_quickview/observer</class>
						<method>checkoutCartAddProductComplete</method>
					</iwd_quickview_cart_add_product_complete>
				</observers>
			</checkout_cart_add_product_complete>

			<controller_action_postdispatch_catalog_product_view>
				<observers>
					<iwd_quickview_cart_add_product_complete>
						<type>singleton</type>
						<class>iwd_quickview/observer</class>
						<method>productView</method>
					</iwd_quickview_cart_add_product_complete>
				</observers>
			</controller_action_postdispatch_catalog_product_view>
			
			<controller_action_postdispatch_checkout_cart_updateItemOptions>
				<observers>
					<controller_action_postdispatch_checkout_cart_updateItemOptions_iwd_quickview>
						<type>singleton</type>
						<class>iwd_quickview/observer</class>
						<method>productupdate</method>
					</controller_action_postdispatch_checkout_cart_updateItemOptions_iwd_quickview>
				</observers>
			</controller_action_postdispatch_checkout_cart_updateItemOptions>
            <controller_action_postdispatch_checkout_cart_configure>
                <observers>
                    <controller_action_postdispatch_checkout_cart_configure_aac>
                        <type>singleton</type>
                        <class>iwd_quickview/observer</class>
                        <method>productConfigure</method>
                    </controller_action_postdispatch_checkout_cart_configure_aac>
                </observers>
            </controller_action_postdispatch_checkout_cart_configure>
            <!--<controller_action_predispatch_checkout_cart_add>-->
                <!--<observers>-->
                    <!--<iwd_quickview_add>-->
                        <!--<class>iwd_quickview/observer</class>-->
                        <!--<method>addToCart</method>-->
                    <!--</iwd_quickview_add>-->
                <!--</observers>-->
            <!--</controller_action_predispatch_checkout_cart_add>-->
		</events>
	</frontend>

	<global>
        <!--<blocks>-->
            <!--<review>-->
                <!--<rewrite>-->
                    <!--<product_view>-->
                        <!--IWD_QuickView_Review_Block_Product_View-->
                    <!--</product_view>-->
                    <!--<product_view_list>-->
                        <!--IWD_QuickView_Review_Block_Product_View_List-->
                    <!--</product_view_list>-->
                <!--</rewrite>-->
            <!--</review>-->
        <!--</blocks>-->
		<models>
			<iwd_quickview>
				<class>IWD_QuickView_Model</class>
				<resourceModel>iwd_quickview_resource</resourceModel>
			</iwd_quickview>
		</models>

		<resources>
			<iwd_quickview_setup>
				<setup>
					<module>IWD_QuickView</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iwd_quickview_setup>
			<iwd_quickview_write>
				<connection>
					<use>core_write</use>
				</connection>
			</iwd_quickview_write>

			<iwd_quickview_read>
				<connection>
					<use>core_read</use>
				</connection>
			</iwd_quickview_read>
		</resources>

		<helpers>
			<iwd_quickview>
				<class>IWD_QuickView_Helper</class>
			</iwd_quickview>
		</helpers>

		<blocks>
			<iwd_quickview>
				<class>IWD_QuickView_Block</class>
			</iwd_quickview>

            <wishlist>
                <rewrite>
                    <customer_wishlist_item_column_cart>IWD_QuickView_Block_Wishlist_Cart</customer_wishlist_item_column_cart>
                </rewrite>
            </wishlist>

		</blocks>

        <catalog>
            <product>
                <design>
                    <iwd_qv_options_container>
                        <option1 translate="label">
                            <value>iwd-qv-container1</value>
                            <label>Product Info Column</label>
                        </option1>
                    </iwd_qv_options_container>
                </design>
            </product>
        </catalog>
    </global>

	<default>
		<iwd_quickview>
			<general>
				<enable>1</enable>
                <mode>qv_aac</mode>
			</general>
            <qv>
                <selector>.widget-products .product-image, .category-products .product-image, .iwd-related-products .item>a</selector>
                <addtocart_after>message</addtocart_after>
                <show_dropdown>0</show_dropdown>
            </qv>
            <aac>
                <selector></selector>
                <addtocart_after>continue</addtocart_after>
                <show_dropdown>0</show_dropdown>
            </aac>
            <design>
                <button_text>Quick View</button_text>
                <popup_width>760</popup_width>
            </design>
            <design_product_name>
                <enable>1</enable>
                <color>3399CC</color>
            </design_product_name>
            <design_short_description>
                <enable>1</enable>
                <color>000000</color>
            </design_short_description>
            <design_add_to_cart>
                <enable>1</enable>
                <color>000000</color>
                <text_color>FFFFFF</text_color>
                <hover_color>4A4A4A</hover_color>
                <text_hover_color>FFFFFF</text_hover_color>
            </design_add_to_cart>
            <design_qty>
                <enable>1</enable>
                <color>FFFFFF</color>
            </design_qty>
            <design_price>
                <enable>1</enable>
                <color>9A9A9A</color>
            </design_price>
            <design_product_link>
                <enable>1</enable>
                <color>000000</color>
                <hover_color>3399CC</hover_color>
            </design_product_link>
            <design_media_block>
                <enable>1</enable>
            </design_media_block>
            <design_media_block_zoom>
                <enable>1</enable>
            </design_media_block_zoom>
            <design_media_block_thumbnails>
                <enable>1</enable>
            </design_media_block_thumbnails>
            <aac_design>
                <popup_width>480</popup_width>
            </aac_design>
            <aac_design_product_name>
                <enable>1</enable>
                <color>000000</color>
            </aac_design_product_name>
            <aac_design_add_to_cart>
                <color>000000</color>
                <text_color>FFFFFF</text_color>
                <hover_color>4A4A4A</hover_color>
                <text_hover_color>FFFFFF</text_hover_color>
            </aac_design_add_to_cart>
            <aac_design_qty>
                <enable>1</enable>
                <color>FFFFFF</color>
            </aac_design_qty>
            <aac_design_price>
                <enable>1</enable>
                <color>9A9A9A</color>
            </aac_design_price>
            <slider>
                <enable>1</enable>
                <items_1199>3</items_1199>
                <items_767>3</items_767>
                <items_479>3</items_479>
            </slider>
		</iwd_quickview>
	</default>
</config>