<?xml version="1.0"?>
<config>
    <modules>
        <Hawksearch_Proxy>
            <version>1.2.4</version>
        </Hawksearch_Proxy>
    </modules>
    <global>
        <helpers>
            <hawksearch_proxy>
                <class>Hawksearch_Proxy_Helper</class>
            </hawksearch_proxy>
        </helpers>
        <blocks>
            <hawksearch_proxy>
                <class>Hawksearch_Proxy_Block</class>
            </hawksearch_proxy>
            <catalog>
                <rewrite>
                    <product_list>Hawksearch_Proxy_Catalog_Block_Product_List</product_list>
                </rewrite>
                <rewrite>
                    <category_view>Hawksearch_Proxy_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <hawksearch_proxy>
                <class>Hawksearch_Proxy_Model</class>
            </hawksearch_proxy>
        </models>
        <resources>
            <hawksearch_proxy_setup>
                <setup>
                    <module>Hawksearch_Proxy</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </hawksearch_proxy_setup>
        </resources>
        <events>
            <catalog_category_save_after>
                <observers>
                    <hawksearch_proxy>
                        <class>hawksearch_proxy/observer</class>
                        <method>categorySave</method>
                    </hawksearch_proxy>
                </observers>
            </catalog_category_save_after>
            <controller_front_init_routers>
                <observers>
                    <hawksearch_proxy>
                        <class>Hawksearch_Proxy_Controller_Router</class>
                        <method>initCustomSearchRouter</method>
                    </hawksearch_proxy>
                </observers>
            </controller_front_init_routers>
        </events>landingpage_cache_life
    </global>
    <frontend>
        <routers>
            <catalogsearch>
                <use>standard</use>
                <args>
                    <modules>
                        <hawksearch_proxy before="Mage_CatalogSearch">Hawksearch_Proxy_Catalogsearch</hawksearch_proxy>
                    </modules>
                </args>
            </catalogsearch>
            <hawkproxy>
                <use>standard</use>
                <args>
                    <module>Hawksearch_Proxy</module>
                    <frontName>hawkproxy</frontName>
                </args>
            </hawkproxy>
        </routers>
        <layout>
            <updates>
                <hawksearch_proxy>
                    <file>hawksearch/proxy.xml</file>
                </hawksearch_proxy>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <hawksearch_proxy>
                        <type>singleton</type>
                        <class>hawksearch_proxy/observer</class>
                        <method>layoutUpdates</method>
                    </hawksearch_proxy>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_place_after>
                <observers>
                    <hawksearch_proxy>
                        <class>hawksearch_proxy/observer</class>
                        <method>orderPlaced</method>
                    </hawksearch_proxy>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hawksearch_proxy after="Mage_Adminhtml">Hawksearch_Proxy_Adminhtml</hawksearch_proxy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <hawksearch_proxy>
            <general>
                <enabled>0</enabled>
                <logging_enabled>0</logging_enabled>
            </general>
            <proxy>
                <mode>0</mode>
                <tracking_url_staging>https://dev.hawksearch.net/</tracking_url_staging>
                <tracking_url_live>https://manage.hawksearch.com/</tracking_url_live>
                <search_box_ids>search</search_box_ids>
                <autosuggest_params><![CDATA[/?fn=ajax&f=GetSuggestions]]></autosuggest_params>
                <api_version_number>5</api_version_number>
                <landingpage_cache_life>60</landingpage_cache_life>
            </proxy>
        </hawksearch_proxy>
    </default>
</config>