<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_AttributeSplashPro>
			<version>1.2.1.0</version>
		</Fishpig_AttributeSplashPro>
	</modules>
	<global>
		<events>
			<controller_front_init_routers>
				<observers>
					<splash>
						<class>Fishpig_AttributeSplashPro_Controller_Router</class>
						<method>initControllerRouters</method>
					</splash>
				</observers>
			</controller_front_init_routers>
		</events>
		<helpers>
			<splash>
				<class>Fishpig_AttributeSplashPro_Helper</class>
			</splash>
		</helpers>
		<blocks>
			<splash>
				<class>Fishpig_AttributeSplashPro_Block</class>
			</splash>
		</blocks>
		<models>
			<splash>
				<class>Fishpig_AttributeSplashPro_Model</class>
				<resourceModel>splash_resource</resourceModel>
			</splash>
			<splash_resource>
				<class>Fishpig_AttributeSplashPro_Model_Resource</class>
				<entities>
					<page><table>splash_page</table></page>
					<page_store><table>splash_page_store</table></page_store>
				</entities>
			</splash_resource>
		</models>
		<resources>
			<splash_setup>
				<setup>
					<module>Fishpig_AttributeSplashPro</module>
				</setup>
			</splash_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<splash>
					<file>splash.xml</file>
				</splash>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<splash before="Mage_Adminhtml">Fishpig_AttributeSplashPro_Adminhtml</splash>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<splash>
					<file>splash.xml</file>
				</splash>
			</updates>
		</layout>
		<routers>
			<splash>
				<use>standard</use>
				<args>
					<module>Fishpig_AttributeSplashPro</module>
					<frontName>splashpro</frontName>
				</args>
			</splash>
		</routers>
		<events>
			<catalog_prepare_price_select>
				<observers>
					<splash>
						<type>singleton</type>
						<class>splash/page</class>
						<method>catalogPreparePriceSelectObserver</method>
					</splash>
				</observers>
			</catalog_prepare_price_select>
		</events>
	</frontend>
	<default>
		<splash>
			<page>
				<enabled>1</enabled>
				<template />
			</page>
			<seo>
				<url_suffix>.html</url_suffix>
				<use_canonical>1</use_canonical>
			</seo>
			<sitemap>
				<enabled>1</enabled>
				<change_frequency>weekly</change_frequency>
				<priority>0.8</priority>
			</sitemap>
		</splash>
	</default>
</config>