<?xml version="1.0"?>
<config>
  <modules>
    <CSH>
      <version>1.0.0</version>
    </CSH>
  </modules>
  <global>
    <models>
      <OnepageNewsletter>
        <class>CSH_OnepageNewsletter_Model</class>
      </OnepageNewsletter>
    </models>
    <events>
      <checkout_submit_all_after> <!-- identifier of the event we want to catch -->
        <observers>
          <checkout_submit_all_after_handler> <!-- identifier of the event handler -->
            <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
            <class>OnepageNewsletter/observer</class> <!-- observers class alias -->
            <method>AssignNewletter</method>  <!-- observer's method to be called -->
          </checkout_submit_all_after_handler>
        </observers>
      </checkout_submit_all_after>
    </events>
  </global>
</config> 