<config>
  <global>
    <models>
      <DecHardware_Register>
        <class>DecHardware_Register_Model</class>
      </DecHardware_Register>
    </models>
	<events>
	  <customer_register_success>
	    <observers>
	      <dechardware_register_observer>
	        <type>singleton</type>
	        <class>DecHardware_Register_Model_Observer</class>
	        <method>save_csh_id</method>
	      </dechardware_register_observer>
	    </observers>
	  </customer_register_success>
	  <adminhtml_customer_save_after>
	    <observers>
	      <dechardware_adminregister_observer>
	        <type>singleton</type>
	        <class>DecHardware_Register_Model_Observer</class>
	        <method>save_csh_id</method>
	      </dechardware_adminregister_observer>
	    </observers>
	  </adminhtml_customer_save_after>
	  <customer_save_before>
	    <observers>
	      <dechardware_checkout_observer>
	        <type>singleton</type>
	        <class>DecHardware_Register_Model_Observer</class>
	        <method>test_customer_info</method>
	      </dechardware_checkout_observer>
	    </observers>
	  </customer_save_before>
    </events>
  </global>
</config>
