<?xml version="1.0"?>
	<config>
		<modules>
			<Simplesolutions_Cabinetproduct>
				<version>0.1.0</version>
			</Simplesolutions_Cabinetproduct>
		</modules>
		<adminhtml>
			<layout>
				<updates>
					<cabinetproduct>
						<file>cabinetproduct.xml</file>
					</cabinetproduct>
				</updates>
			</layout>
			<events>
				<catalog_product_save_after>
					<observers>
						<Simplesolutions_save_product_data>
							<type>singleton</type>
							<class>cabinetproduct/observer</class>
							<method>saveProductTabData</method>
						</Simplesolutions_save_product_data>
					</observers>
				</catalog_product_save_after>
			</events>
			<translate>
				<modules>
					<Simplesolutions_Cabinetproduct>
					<files>
						<default>Simplesolutions_Cabinetproduct.csv</default>
					</files>
					</Simplesolutions_Cabinetproduct>
				</modules>
			</translate>
			<sales>
				<order>
					<create>
						<available_product_types>
							<simple/>
							<virtual/>
							<configurable/>
							<grouped/>
							<cabinet/>
						</available_product_types>
					</create>
				</order>
			</sales>
		</adminhtml>
		<global>
			<importexport>
				<import_product_types>
					<cabinet>cabinetproduct/import_entity_product_type_cabinet</cabinet>
				</import_product_types>
			</importexport>
			<blocks>
				<cabinetproduct>
					<class>Simplesolutions_Cabinetproduct_Block</class>
				</cabinetproduct>
			</blocks>
			<models>
				<cabinetproduct>
					<class>Simplesolutions_Cabinetproduct_Model</class>
				</cabinetproduct>
			</models>
			<catalog>
				<product>
					<type>
						<cabinet translate="label" module="cabinetproduct">
							<label>Cabinet Type</label>
							<model>cabinetproduct/product_type_cabinet</model>
							<price_model>cabinetproduct/product_price</price_model>
							<composite>1</composite>
							<allow_product_types>
								<simple/>
								<virtual/>
                        </allow_product_types>
						</cabinet>
					</type>
				</product>
			</catalog>
			<helpers>
				<cabinetproduct>
					<class>Simplesolutions_Cabinetproduct_Helper</class>
				</cabinetproduct>
			</helpers>
		</global>
		<frontend>
			<layout>
				<updates>
					<Simplesolutions_Cabinetproduct>
					<file>cabinetproduct.xml</file>
					</Simplesolutions_Cabinetproduct>
				</updates>
			</layout>
		</frontend>
	</config>